.center {
  text-align: center;
}

.form {
  padding: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,.175);
  margin: 5px;
}

.card {
  margin: 2px 2px 2px 2px;
  display: flex;
  justify-content: space-around;
  background: #F5F5F6;
  flex-flow: row wrap;
}