@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
/*
#32435c -> header
#d1dff5 -> body
#789fdc -> label
#4e545d -> 
#5c7aac -> 
#5cfaac -> destac
*/
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif, Arial, Helvetica, Helvetica Neue, serif;
  margin: 0;
}

li {
  list-style: none;
}